body{
    width: 1100px;
}

header{
    height: 180px;
    background-color: rgb(13, 115, 179);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}

.logo{
    max-width: 200px;
    position: absolute; top: 130px; left: 25px;
}

